*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing:border-box;
}

.fill{
    width:100%;
    height:100vh;
    background-image: url(anewwayoftea.jpg);

    display:flex;
    align-items:center;
    justify-content: center;
}

.calculator{
    background:#3a4452;
    padding:20px;
    border-radius:10px;
}

.calculator form input{
    margin: 10px;
    border:0;
    outline:0;
    width:60px;
    height:60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0,0,0,0.2);
    background: transparent;
    color: aliceblue;
    font-size: 25px;
}

form .display{
    display:flex;
    justify-content: flex-end;
    margin:20px 0;
   
}

form .display input{
      text-align:right;
      flex: 1;
      box-shadow: none;
      font-size: 45px;
}

form input.answer{
    width:150px;
}

form input.erase{
    width:150px;
    color:crimson;
}

form input.operator{
    color:rgb(27, 100, 236);
    background-color: hsl(35, 100% , 55%);
}
